@page "/registros"
@using Tarea2.Data;
<h1>Registros</h1>




<div class="card" style="width: 18rem;">
	<img src="..." class="card-img-top" alt="...">
	<div class="card-body">
		<h5 class="card-title">Generos</h5>
		<p class="card-text">Aquí encontraras el registro de los diferentes géneros.</p>
		<a href="rGeneros" class="btn btn-primary">Registrar Generos</a>
	</div>
</div>




		






		@code {
			
		}
